
.table_container {
  width: 100%;
  margin: 0 auto;
  padding: 36px 52px 48px 52px;
  border-radius: 28px;
  border: 1px solid white;

  table {
    width: 1018px;
    height: 685px;
    border-radius: 28px;
    border-collapse: collapse;
    margin: 0 auto;

    thead {

      tr {
        th {
          padding-left: 9px;
          height: 25px;
          font-family: 'Manrope';
          font-weight: 400;
          font-size: 18px;
          line-height: 24.59px;
          letter-spacing: 0.4px;
          color: #FFFFFFB5;
          text-align: start;
        }
      }
    }

    tbody {
      tr {

        td {

          height: 73px;
          padding: 10px;
          text-align: start;
          vertical-align: middle;
          font-family: 'Manrope';
          font-weight: 400;
          font-size: 18px;
          line-height: 24.59px;
          letter-spacing: 0.4px;
          color: #FFFFFF;

          span {

            font-family: 'Manrope';
            font-weight: 600 !important;
            font-size: 25px;
            line-height: 34.15px;
            letter-spacing: 0.4px;
            color: #FFFFFF;
            text-align: start;

          }

          &:first-child {
            width: 150px;

            div {
              width: 73px;
              height: 73px;
              text-align: center;

              img {
                width: 73px;
                height: 73px;
                background: transparent;
              }
            }

          }


          &:nth-child(2) {
            width: 400px;
            height: 25px;

            span {
              font-weight: bold;
            }
          }
        }
      }
    }

    th:nth-child(3), td:nth-child(3) {
      width: 150px;
    }

    th:nth-child(4), td:nth-child(4) {
      width: 150px;
    }
  }
}


@media screen and (max-width: 767px) {


  .table_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    border: none;
    gap: 18px;


    .mobile_table_row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;
      width: 300px;
      height: 131px;
      border-radius: 28px;
      border: 1px  solid #FFFFFF38;
      padding: 18px 23px 28px 23px;


      .mobile_table_row_title {
        margin-right: 60px;
        width: 285px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 7px;

        .currency {
          font-family: 'Manrope';
          font-weight: 600;
          font-size: 20px;
          line-height: 27.32px;
          letter-spacing: 0.4px;
          color: #FFFFFF;

        }

        .profit {
          font-family: 'Manrope';
          font-weight: 500;
          font-size: 16px;
          line-height: 21.86px;
          letter-spacing: 0.4px;
          color: #D4F954;
        }

        .period {
          font-family: 'Manrope';
          font-weight: 500;
          font-size: 16px;
          line-height: 21.86px;
          letter-spacing: 0.4px;
          color: #FFFFFFC7;
        }

      }
    }
  }
}






