@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&family=Oswald:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;


}
body {
  background: #090B1C;
}
.wrapper {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}



  .flag-dropdown {

    margin-left: 10px;
    .selected-flag {
      width: 24px;

    }

    .country-list {

      overflow-y: auto;


      .form_control {
        padding: 0!important;
      }

    }

    .country {
      background: #5E6B74;

      .react-tel-input .country .dial-code {

      }
    }
  }
.react-tel-input .form-control {
  padding-block-start: 18.5px!important;
  padding-inline-end: 14px!important;
  padding-inline-start: 60px!important;
  padding-left: 70px!important;
  padding-right: 14px!important;
  padding-top: 18.5px!important;
}
.react-tel-input {
  .country-list {

    top: 100%;
    left: 0;
    font-size: 0.9rem;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    transition: all .1s ease;

    &:hover {
      background: transparent;

    }
  }

  .country-list.active {
    display: block;
  }
}

//
//.flag-dropdown {
//
//  margin-left: 10px;
//  .selected-flag {
//    width: 24px;
//
//  }
//
//  .country-list {
//
//    overflow-y: auto;
//
//
//    .form_control {
//      padding: 0!important;
//    }
//
//  }
//
//  .country {
//    background: #5E6B74;
//
//    .react-tel-input .country .dial-code {
//
//    }
//  }
//}
//.react-tel-input .form-control {
//  padding-block-start: 18.5px!important;
//  padding-inline-end: 14px!important;
//  padding-inline-start: 60px!important;
//  padding-left: 70px!important;
//  padding-right: 14px!important;
//  padding-top: 18.5px!important;
//}
//.react-tel-input {
//  .country-list {
//
//    top: 100%;
//    left: 0;
//    font-size: 0.9rem;
//    text-align: left;
//    max-height: 200px;
//    overflow-y: auto;
//    transition: all .1s ease;
//
//    &:hover {
//      background: transparent;
//
//    }
//  }
//
//  .country-list.active {
//    display: block;
//  }
//}