@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&family=Oswald:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;


}
body {
  background: #090B1C;
}
.wrapper {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
//font-family: 'Manrope', sans-serif;
//font-family: 'Oswald', sans-serif;
//font-family: 'Roboto', sans-serif;